@font-face {
    font-family: "RoundedMPlus";
    src: url("/fonts/rounded/rounded-mplus-1c-thin.ttf");
    font-weight: 100;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-heavy.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-black.ttf");
  font-weight: 900;
}

a,
p,
h1,
h2,
h3,
input,
select,
label,
span,
li {
  transform: rotate(0.05deg);
}
